@import url(./main.css);
/* 
  Categories
*/
.categories {
  text-align: center;
  margin-block: 4rem;
}

.categories__grid {
  --gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.category {
  place-items: center;
}

.category p {
  margin-top: 1rem;
  color: black;
}

.category p:hover {
  color: var(--clr-primary);
}

.category a {
  text-decoration: none;
}

@media (max-width: 35em) {
  .categories__grid {
    grid-template-columns: 1fr 1fr;
  }

  .categories__grid > :last-child {
    display: none;
  }
}

/* 
  Vendors
*/
.vendors {
  text-align: center;
  margin-block: 4rem;
}

.vendors__grid {
  --gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.vendor {
  place-items: center;
}

.vendor p {
  margin-top: 1rem;
  color: black;
}

.vendor p:hover {
  color: var(--clr-primary);
}

.vendor a {
  text-decoration: none;
}

@media (max-width: 35em) {
  .vendors__grid {
    grid-template-columns: 1fr 1fr;
  }

  .vendors__grid > :last-child {
    display: none;
  }
}

/* 
  Ads
*/
.ads {
  margin-block: 4rem;
}

.ads img {
  width: 100%;
}

/*
  Download
*/
.download {
  text-align: center;
}

.download .grid {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.download__text {
  text-align: left;
  align-self: end;
  padding-bottom: 1rem;
}

.download__text > * {
  margin-bottom: 2rem;
  margin-trim: block-end;
}

.download__buttons {
  --gap: .5rem;
  opacity: .75;
  pointer-events: none;
}

.btn--download {
  --gap: .5rem;
  align-items: center;
  font-weight: normal;
  padding: 1rem 1.5rem;
  color: white;
  background-color: black;
}

.btn--download:nth-child(2) > span {
  padding-top: .2rem;
}

.coming-soon-badge {
  position: relative;
  top: 1.875rem;
  opacity: .75;
  pointer-events: none;
  font-size: .75rem;
  background-color: var(--clr-primary);
}

@media (max-width: 50em) {
  .download .grid {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .download__text {
    text-align: center;
    align-self: center;
    justify-self: center;
    margin-top: 1rem;
  }

  .download__buttons {
    --gap: .5rem;
    flex-direction: column;
    place-content: center;
  }

  .btn--download {
    --gap: .5rem;
    width: 15rem;
    margin-inline: auto;
    justify-content: center;
    padding: .5rem .75rem;
  }

  .btn--download span {
    font-size: .875remrem;
  }

  .download__img {
    display: none;
  }
}