@import url(./main.css);

h1 {
  font-size: clamp(2rem, -0.875rem + 8.333vw, 2.5rem);
  line-height: 1.1;
}

/* 
  Header 
*/
header {
  margin-block: 1rem;
  font-size: .875rem;
}

header .container {
  border-bottom: 2px solid var(--clr-primary);
  padding-bottom: 1rem;
}

.header__logo img {
  width: 85%;
}

header>.flex {
  --gap: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header a {
  text-decoration: none;
  color: var(--clr-secondary);
  font-weight: 700;
}

.header__nav li {
  list-style: none;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 55em) {
  .header__logo img {
    width: 70%;
  }

  .header__buttons {
    display: none;
  }

  .primary-navigation {
    --gap: 2.5em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(10rem, 20vh) 2em;
    background-color: var(--clr-primary-light);

    transform: translateX(100%);
    transition: all 3s ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url(../icons/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 1.25rem;
    aspect-ratio: 1;
    border: 0;
    top: 2.25rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../icons/icon-close.svg);
  }
}

/* 
  Hero
*/
.hero {
  margin-block: 1rem;
}

.hero .container {
  grid-template-columns: repeat(2, 1fr);
}

.hero__text {
  max-width: 50ch;
}

.hero__text>* {
  margin-bottom: 1rem;
  margin-trim: block-end;
}

@media (max-width: 50em) {
  .hero .grid {
    --gap: 1rem;
    text-align: center;
    grid-template-columns: 1fr;
    margin-inline: auto;
  }

  .hero__text {
    order: 2;
    max-width: 500px;
    margin-inline: auto;
    display: grid;
    place-items: center;
  }

  .hero__img {
    order: 1;
    max-width: 70%;
    margin-inline: auto;
    display: grid;
    place-items: center;
  }
}

/* 
  Logomarks
*/
.logomarks {
  margin-block: 2rem;
  padding-block: 2rem;
  background-color: var(--clr-primary-light);
}

.logomark img {
  width: 90%;
}

.logomarks .flex {
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 50em) {
  .logomark img {
    width: 80%;
  }
}

@media (max-width: 50em) {
  .logomark img {
    width: 80%;
  }
}

/* 
  Expertise
*/
.expertises {
  text-align: center;
  padding-block: 4rem;
  padding-inline: 8rem;
  background-image: url(../images/expertise-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.expertises p {
  color: white;
}

.expertises__grid {
  --gap: 3rem;
  row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  margin-inline: auto;
  padding-block: 4rem;
}

.expertise {
  --gap: .75rem;
  align-items: center;
  text-align: left;
}

.expertises .btn {
  color: var(--clr-secondary);
}

@media (max-width: 65em) {
  .expertises {
    padding-inline: 0;
  }

  .expertises__grid {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .expertise {
    max-width: 45ch;
  }
}

/* 
  Services
*/
.services {
  text-align: center;
  padding-block: 4rem;
}

.services .grid {
  --gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 6rem;
  padding-inline: 4rem;
}

.service {
  position: relative;
  display: grid;
  border-radius: 1.25rem;
  padding-top: 25rem;
  background-color: hsla(41, 89%, 86%, 1);
}

.service img {
  justify-self: center;
  position: absolute;
  bottom: 7rem;
  z-index: 1;
}

.service p {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  font-weight: bold;
  padding: 4rem 2rem;
  color: white;
  background-color: var(--clr-primary);
  border-radius: 1.25rem;
}

@media (max-width: 65em) {
  .services .grid {
    grid-template-columns: 1fr 1fr;
    place-content: center;
    row-gap: 10rem;
    padding-inline: 1rem;
  }
}

@media (max-width: 50em) {
  .services .grid {
    grid-template-columns: 1fr;
    place-content: center;
  }

  .service img {
    bottom: 6rem;
  }
}

@media (max-width: 40em) {
  .services .grid {
    grid-template-columns: 1fr;
    place-content: center;
  }
}