@import url(./main.css);

/* Services */
.services {
  margin-block: 4rem;
  background-image: url(../images/services-bg.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.services .container {
  text-align: center;
}

.services__grid {
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
  column-gap: 8rem;
  row-gap: 1rem;
  text-align: left;
}

.services__grid > .flex {
  gap: 1rem;
}

@media (max-width: 60em) {
  .services__grid {
    grid-template-columns: 1fr;
    padding-inline: 1rem;
    padding-block: 2rem;
    gap: 2rem;
  }
}

/* Download */
.download {
  margin-block: 4rem;
}

.download .container {
  padding-inline: 13rem;
}

.download .container > .flex {
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  margin-top: -4rem;
}

.btn--download {
  --gap: .5rem;
  align-items: center;
  font-weight: normal;
  padding: 1rem 1.5rem;
  color: white;
  background-color: black;
}

@media (max-width: 82em) {
  .download .container {
    padding-inline: 10rem;
  }
}

@media (max-width: 80em) {
  .download .container {
    padding-inline: 2rem;
  }
}

@media (max-width: 55em) {
  .download {
    margin-block: 1rem 4rem;
  }

  .download .container {
    padding-inline: 0;
    text-align: center;
  }

  .download .container > .flex {
    flex-direction: column;
    margin-top: 1rem;
  }

  .download__buttons {
    order: 2;
  }

  .download__image {
    order: 1;
  }
}